<!-- this is reply to ticket form for isp -->

<% include ../partials/header %>
<div class="container form-resize">
	 	<h4 class="text-center pt-2 pb-1 robotoBold deep-gray font-2em"><strong><%=ticket.package %></strong></h4>
		<h5 class="text-center pb-1 robotoBold mid-gray"><%= ticket.department %></h5>
	
	<!-- first part of this is showing ticket-info, reply history & second part is reply form if the ticket is not resolved, otherwise no reply option-->
		<!--first part-->
		<p class="text-center robotoLight light-gray">This ticket ID <%= ticket.ticketId %> has got 
			 <% if (replies.length==0){%> no replies 
			 	<%} else if (replies.length==1) {%> 1 reply 
			 	<%} else {%><%=replies.length %> replies <%}%>
		</p>

		<div class="robotoBold mid-gray mx-auto">
			<p class="mb-0 deep-gray"><strong><%= ticket.title %></strong>(
			<span class=""><% if (ticket.solved) 
				{%><span class="text-success-custom">solved</span>
					<%} else {
					%><span class="text-danger-custom">not solved</span>
				<%}%>
			</span>
		)</p>

		<p class="robotoLight light-gray"><%= ticket.description %></p>

		
		<!-- if there's any reply already -->
		 <!--<% if (replies.length>0){%>-->
			<!--<h4 class="text-center">Previous Replies</h4>-->
			<!--<%}%>-->
			<ul class="pl-0 ml-sm-5">
				<%if (replies.length>0) { replies.forEach(function(reply){%>
					<li class="mt-4">
						<div class="media">
							
							<div class="get-first-letter first-letter mr-3" data-user="<%= reply.nameOfReplier %>"></div>
							<div class="media-body">
								<div class="mb-0 ticket-title"><strong><%= reply.nameOfReplier%></strong>
									<%if (reply.status===1){ %><span class="ml-3 text-danger-custom">(issue is not clear)</span>
									<%} else if (reply.status===2){%><span class="ml-3 text-success-custom">( solved)</span>
								<%}%>
								</div>
								<div class="pb-2 ticket-desc"><%= reply.reply%></div>
								<div class="pb-2 ticket-date font-small"><%= reply.replyDate %></div>
							</div>
						</div>
				
				</li>
				<%})}%>

			</ul>
			<!-- end of first part -->
		<!--second part	-->
			<%if (!ticket.solved){%> <!--show reply form if ticket is not solved yet -->
				<form method="POST" action="/<%=ticket.package%>/<%=ticket.ticketId%>/replyTicket?_method=PUT" class="container review" id="reply-form">
			 		<fieldset>
			 			<legend class="text-center">Reply Form</legend>
						<div class="dropdown">
							<button class="btn dropdown-toggle" type="button" id="departmentMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="margin:1em 0;">
						    Reset department
						  	</button>
						  	<div class="dropdown-menu" aria-labelledby="departmentMenu">
							    <a class="dropdown-item select-dept" href="javascript:void(0)">Technical Dept.</a>
							    <a class="dropdown-item select-dept" href="javascript:void(0)">Fiber Dept.</a>
							    <a class="dropdown-item select-dept" href="javascript:void(0)">Billing Dept.</a>
						  	</div>
							<input type="hidden" name="department" id="department" value="">
						</div>
						
					
					<div class="form-group">
					    <label for="reply">Reply <span class="text-danger-custom">* </span></label>
					    <textarea class="form-control" id="reply" name="reply"rows="3" required></textarea>
					</div>
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" id="statusMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="margin:1em 0;">
						    <span class="text-danger-custom">* </span> Set status 
						</button>
						<div class="dropdown-menu" aria-labelledby="statusMenu">
							<a class="dropdown-item select-status" href="javascript:void(0)">issue solved</a>
							<a class="dropdown-item select-status" href="javascript:void(0)">issue is not clear</a>
						</div>
						<span class="text-danger-custom status-error"></span>
						<input type="hidden" name="status" id="status" value="">
					</div>

					<br>
					
					<input type="submit" value="Submit" class="col-12 col-md-4 btn submit">  
					<!--<input type="reset" value="Reset" class="col-12 col-md-4 btn reset">-->
					
					
				</fieldset>
			</form>
			<%} else {%>
			<div class="bg-success-custom p-2 text-white text-center">As user chooses the issue as solved, you do not need to further reply. </div>
			<%}%>
					
		</div>
			
	</div>
					
		
 	
 
<% include ../partials/footer %>
<script type="text/javascript">
	$(document).ready(function(){
		// clicked department is showed up in dropdown button
		$('.select-dept').click(function(e){
			document.getElementById('department').value=$(this).text();
			document.getElementById('departmentMenu').innerHTML=$(this).text();
		})
		// clicked status is showed up in dropdown button
		$('.select-status').click(function(e){
			document.getElementById('status').value=$(this).text();
			document.getElementById('statusMenu').innerHTML=$(this).text();
		})
		// User must select status for successful submission
		$('#reply-form').submit(function(e){
			if(!document.getElementById('status').value){
				$('.status-error').text(' Please select status ');
				e.preventDefault();
			}
		})
		// when user chooses option2, a div should show, but not working
		// $('#option2').on('click', function(e){
		// 	$('#department-dropdown').toggleClass('hide'); 
		// })	

	})
	
										

</script>
